In [77]:
import yfinance as yf
import pandas as pd
from stock_config import momentum_stock_list

## Input the evaluation date below (1st friday of every month)

In [78]:
eval_date = "2020-05-08"

### Fetch last year data

#### [Below data fetch will throw error if there is no trading day between start and end dates]

In [79]:
start_date=eval_date
end_date = (pd.to_datetime(start_date) + pd.DateOffset(days=1)).strftime('%Y-%m-%d')
data = yf.download(momentum_stock_list, start = start_date, end=end_date)

[*********************100%***********************]  493 of 493 completed

In [80]:
this_year_close = pd.DataFrame(data.iloc[0]['Adj Close'])

In [81]:
this_year_close

                 2020-05-08
3MINDIA.NS     18618.699219
AARTIIND.NS     1064.849976
AAVAS.NS        1081.550049
ABB.NS           842.113647
ABBOTINDIA.NS  17704.800781
...                     ...
WIPRO.NS         184.000000
WOCKPHARMA.NS    253.399994
ZEEL.NS          150.649994
ZENSARTECH.NS     83.599998
ZYDUSWELL.NS    1297.550049

[493 rows x 1 columns]

In [82]:
start_date=(pd.to_datetime(eval_date) - pd.DateOffset(years=1)).strftime('%Y-%m-%d')
end_date = (pd.to_datetime(start_date) + pd.DateOffset(days=1)).strftime('%Y-%m-%d')

In [83]:
start_date

'2019-05-08'

In [84]:
end_date

'2019-05-09'

### Fetch last year data

#### [Below data fetch will throw error if there is no trading day between start and end dates]

In [85]:
data = yf.download(momentum_stock_list, start = start_date, end=end_date)

[*********************100%***********************]  493 of 493 completed

6 Failed downloads:
- AFFLE.NS: Data doesn't exist for startDate = 1557253800, endDate = 1557340200
- SPANDANA.NS: Data doesn't exist for startDate = 1557253800, endDate = 1557340200
- INDIAMART.NS: Data doesn't exist for startDate = 1557253800, endDate = 1557340200
- WESTLIFE.NS: Data doesn't exist for startDate = 1557253800, endDate = 1557340200
- SWSOLAR.NS: Data doesn't exist for startDate = 1557253800, endDate = 1557340200
- SPICEJET.NS: Data doesn't exist for startDate = 1557253800, endDate = 1557340200

In [86]:
last_year_close = pd.DataFrame(data.iloc[0]['Adj Close'])

In [87]:
last_year_close

                 2019-05-08
3MINDIA.NS     23122.199219
AARTIIND.NS      783.449097
AAVAS.NS        1426.599976
ABB.NS          1430.018921
ABBOTINDIA.NS   7243.913574
...                     ...
WIPRO.NS         289.680511
WOCKPHARMA.NS    388.549988
ZEEL.NS          328.290619
ZENSARTECH.NS    237.650452
ZYDUSWELL.NS    1286.755249

[493 rows x 1 columns]

In [88]:
final_df = last_year_close.join(this_year_close)

In [89]:
final_df

                 2019-05-08    2020-05-08
3MINDIA.NS     23122.199219  18618.699219
AARTIIND.NS      783.449097   1064.849976
AAVAS.NS        1426.599976   1081.550049
ABB.NS          1430.018921    842.113647
ABBOTINDIA.NS   7243.913574  17704.800781
...                     ...           ...
WIPRO.NS         289.680511    184.000000
WOCKPHARMA.NS    388.549988    253.399994
ZEEL.NS          328.290619    150.649994
ZENSARTECH.NS    237.650452     83.599998
ZYDUSWELL.NS    1286.755249   1297.550049

[493 rows x 2 columns]

In [90]:
final_df.rename(columns =lambda t: t.strftime('%Y-%m-%d'), inplace=True)

## Calculate Momentum

In [91]:
last_year_date = final_df.columns[0]
this_year_date = final_df.columns[1]
final_df['Change'] = final_df[this_year_date] - final_df[last_year_date]

In [92]:
final_df['% Change'] = (final_df['Change'] / final_df[last_year_date])*100

## Final Output

In [93]:
final_df.sort_values(by=['% Change'], ascending=False, inplace=True)

In [94]:
final_df.rename_axis('MOMENTUM_ATH', inplace=True)
final_df.rename_axis('', axis='columns', inplace=True)

In [95]:
final_df.round(2).head(50)

               2019-05-08  2020-05-08    Change  % Change
MOMENTUM_ATH
ADANIGREEN.NS       38.05      212.25    174.20    457.82
GMMPFAUDLR.NS     1158.43     3555.36   2396.94    206.91
ABBOTINDIA.NS     7243.91    17704.80  10460.89    144.41
ALKYLAMINE.NS      795.29     1753.44    958.15    120.48
NAVINFLUOR.NS      665.16     1430.41    765.25    115.05
JBCHEPHARM.NS      315.31      645.30    329.99    104.65
DEEPAKNTR.NS       267.25      531.65    264.40     98.94
DIXON.NS          2285.02     4255.80   1970.78     86.25
DMART.NS          1245.55     2255.00   1009.45     81.04
NESTLEIND.NS      9990.43    17605.33   7614.89     76.22
TATACONSUM.NS      197.99      346.20    148.21     74.86
ISEC.NS            208.13      353.28    145.15     69.74
IPCALAB.NS         943.58     1552.30    608.72     64.51
MIDHANI.NS         121.71      199.15     77.44     63.62
BHARTIARTL.NS      323.34      528.15    204.81     63.34
PFIZER.NS         2822.56     4604.75   1782.19     63.14
HDFCAMC.NS        1606.18     2590.57    984.39     61.29
VAIBHAVGBL.NS      620.49      987.07    366.58     59.08
TIMKEN.NS          512.95      806.75    293.80     57.28
LALPATHLAB.NS      992.42     1552.55    560.13     56.44
ALKEM.NS          1663.84     2585.35    921.50     55.38
GUJGASLTD.NS       159.44      243.85     84.41     52.94
IGL.NS             308.93      472.30    163.37     52.88
BHARATRAS.NS      4100.42     6251.35   2150.93     52.46
BERGEPAINT.NS      299.18      455.40    156.22     52.22
SANOFI.NS         5075.41     7709.49   2634.08     51.90
FDC.NS             166.80      252.60     85.80     51.44
RALLIS.NS          139.73      210.95     71.22     50.97
PIIND.NS          1022.66     1532.10    509.44     49.82
MUTHOOTFIN.NS      547.95      809.65    261.70     47.76
SRF.NS            2431.16     3590.39   1159.24     47.68
GRANULES.NS        107.32      157.46     50.14     46.72
COROMANDEL.NS      408.47      598.85    190.38     46.61
TORNTPHARM.NS     1676.80     2438.60    761.80     45.43
ASTRAZEN.NS       2155.37     3121.09    965.72     44.81
AMBER.NS           759.62     1091.35    331.73     43.67
FINEORG.NS        1357.37     1944.00    586.63     43.22
NH.NS              193.16      276.25     83.09     43.02
WHIRLPOOL.NS      1319.73     1878.22    558.49     42.32
APLLTD.NS          542.84      767.30    224.46     41.35
RELAXO.NS          429.41      603.20    173.79     40.47
DIVISLAB.NS       1638.76     2300.80    662.04     40.40
AJANTPHARM.NS     1043.85     1454.00    410.15     39.29
NAUKRI.NS         1944.75     2697.95    753.20     38.73
DRREDDY.NS        2860.01     3958.50   1098.49     38.41
MCX.NS             797.42     1101.30    303.88     38.11
AARTIIND.NS        783.45     1064.85    281.40     35.92
GALAXYSURF.NS     1008.21     1355.75    347.54     34.47
ESSELPACK.NS       129.18      172.27     43.09     33.35
JKCEMENT.NS        824.10     1094.90    270.80     32.86

In [96]:
filename = f'data/output/momentum_ath_output_{eval_date}.xlsx'

In [97]:
final_df.round(2).to_excel(filename)

In [98]:
f"Done. Output file path and name --> {filename}"

'Done. Output file path and name --> data/output/momentum_ath_output_2020-05-08.xlsx'